black==19.10b0
nb-black==1.0.7
jupyterlab==2.1.0
mlflow==1.8.0
pandas==0.23.4
pandas-compat==0.1.1
xai==0.0.5
pylint==2.5.2
pre-commit2.4.0
line-profiler==3.0.2
Cython==0.29.16
jsonlines==1.2.0
tqdm==4.46.0

